h1{
    text-align: center;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

*{
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(2,74,89,1) 100%);
    height: 100vh;
}

.container{
    margin: 100px auto;
    width: 25%;
    padding: 15px;
    border: 2px solid black;
    background-color: rgb(2,0,36);
}

.result{
    font-size: 30px;
    padding: 16px 5px;
    font-weight: bold;
    text-align: right;
    width: 96%;
    margin: 0 auto 10px;
    border: 2px solid black;
    height: 34px;
    background-color: #fff;
}

.second-row, .third-row, .fourth-row, .conflict{
    display: inline-block;
    width: 100%;
    justify-content: space-between;
}

.global{
   padding: 15px;
   font-weight: bold;
   font-size: 24px;
   border: 2px solid black;
   border-radius: 5px;
   width: 23.5%;
   margin: 4px auto;
   display: inline-block;
}

.conflict .left, .conflict .right{
    float: left;
    position: relative;
}

.left{
    width: 74%;
}

.right{
    width: 24%;
}

.big{
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    width: 64.5%;
    margin: 0 2px;
    border: 2px solid black;
}

.small{
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    width: 31.5%;
    margin: 0 2px;
    border: 2px solid black;
}

.plus{
    height: 108px;
    width: 98%;
    margin: 0;
}

.green{
    background-color: #81C784;
}

.green:hover {
    background-color: #A8DF8E;
}

.red{
    background-color: #F50258
}

.red:hover {
    background-color: #EA1179;
}

.top-margin{
    margin-top: 4px;
}

.number-button:hover, .operator-button:hover {
    background-color: rgba(2,74,89,1)
}